@font-face {
    font-family: 'MavenPro';
    src: url(fonts/MavenPro-Regular.ttf),
         url(fonts/MavenPro-Bold.ttf),
         url(fonts/MavenPro-SemiBold.ttf),
         url(fonts/MavenPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MavenPro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width:15vw;
    background-color: #0F161B;
    height: 100vh;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.sidebar .header {
    text-align: left;
    color: #ecf0f1;
    font-size: 20px;
    margin-bottom: 2vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    color:#D8FFD4 ;
}

.sidebar .logout {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 2vh;
    color: #ecf0f1;
}

.sidebar .logout a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ecf0f1;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .logout a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.main-container {
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100vh;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
}

/* Table styles */
.table-container {
    font-family: 'MavenPro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: small;
}
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for all elements in Firefox */
* {
    scrollbar-width: none; /* For Firefox */
}

.customer-table {
    border-collapse: collapse;
    font-family: 'MavenPro', sans-serif;
}

.customer-table thead {
    background-color: #dde9ff;
}

.customer-table th, .customer-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.customer-table th {
    background-color: #393e46;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
}

.customer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customer-table tr:hover {
    background-color: #e0e0e0;
}

.customer-table td {
    color: #333;
}
th {
    cursor: pointer;
}
/* Add vertical borders */
.customer-table th:not(:last-child),
.customer-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}
/* Specific styles for table data */
.customer-table td:nth-child(1), /* Row Number */
.customer-table td:nth-child(2), /* Customer ID */
.customer-table td:nth-child(4), /* Credit Score */
.customer-table td:nth-child(6), /* Gender */
.customer-table td:nth-child(7), /* Age */
.customer-table td:nth-child(8), /* Tenure */
.customer-table td:nth-child(10), /* Num Of Products */
.customer-table td:nth-child(11), /* Has Credit Card */
.customer-table td:nth-child(12), /* Is Active Member */
.customer-table td:nth-child(13), /* Estimated Salary */
.customer-table td:nth-child(14) /* Exited */ {
    text-align: center;
}




/* Style for the map container */
.map-container {
  width: 35%;
  margin-top: 20px;
  padding: 1px;
  border-radius: 4px;
  background-color: #aaaaaa;
  position:absolute; 
  top:45vh;
  
}
.chartBox {
    width: 35%;
    margin-top: 20px;
    padding: 4px;
    border-radius: 4px;
    position:absolute; 
    top:45vh;
    left: 55vw;
    border: 1px solid #aaa;
}
.chartBoxTitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.slicers, .kpis, .content {
    width: 80%;
    margin-top: 20px;
}
.slicers form {
    display: flex;
    justify-content: space-around;
}
.kpis {
    display: flex;
    justify-content: space-around;
}
.kpi {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 25%;
}


.slicers {
    display: flex; /* Added flex display to align items horizontally */
    margin: 20px;
    width: 100%;
}

.slicers form {
    display: flex; /* Changed from 'fixed' to 'flex' to align items horizontally */
    align-items: center;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 65vw;
}

.slicers label {
    font-size: 16px;
    margin-right: 10px;
}

.slicers select {
    font-family: 'MavenPro', sans-serif;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.slicers button {
    font-family: 'MavenPro', sans-serif;
    padding: 8px 12px;
    border: none;
    background-color: #4ecca3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.slicers button:hover {
    background-color: #4ecca2b0;
}


/* Selector */

.form-input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 95%;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid transparent;
}

.form-input:hover { /* Styles the input when hovered */ }

/* Property and Value Example */
.error::before {
  content: "Error!"; /* Error message before error elements */
  font-weight: bold;
  display: block;
  color: red;
  margin-left: 10px;
}