@font-face {
    font-family: 'MavenPro';
    src: url(fonts/MavenPro-Regular.ttf),
         url(fonts/MavenPro-Bold.ttf),
         url(fonts/MavenPro-SemiBold.ttf),
         url(fonts/MavenPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MavenPro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width:15vw;
    background-color: #0F161B;
    height: 100vh;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.sidebar .header {
    text-align: left;
    color: #ecf0f1;
    font-size: 20px;
    margin-bottom: 2vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    color:#D8FFD4 ;
}

.sidebar .logout {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    font-size: 2vh;
    color: #ecf0f1;
}

.sidebar .logout a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ecf0f1;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .logout a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.main-container {
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100vh;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
}

/* Table styles */
.table-container {
    font-family: 'MavenPro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    font-size: small;
}


.customer-table {
    border-collapse: collapse;
    font-family: 'MavenPro', sans-serif;
}

.customer-table thead {
    background-color: #dde9ff;
}

.customer-table th, .customer-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.customer-table th {
    background-color: #393e46;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
}

.customer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customer-table tr:hover {
    background-color: #e0e0e0;
}

.customer-table td {
    color: #333;
}
th {
    cursor: pointer;
}
/* Add vertical borders */
.customer-table th:not(:last-child),
.customer-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}
/* Specific styles for table data */
.customer-table td:nth-child(1), /* Row Number */
.customer-table td:nth-child(2), /* Customer ID */
.customer-table td:nth-child(4), /* Credit Score */
.customer-table td:nth-child(6), /* Gender */
.customer-table td:nth-child(7), /* Age */
.customer-table td:nth-child(8), /* Tenure */
.customer-table td:nth-child(10), /* Num Of Products */
.customer-table td:nth-child(11), /* Has Credit Card */
.customer-table td:nth-child(12), /* Is Active Member */
.customer-table td:nth-child(13), /* Estimated Salary */
.customer-table td:nth-child(14) /* Exited */ {
    text-align: center;
}

/* Style for the filter container */
.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group select, .filter-group input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-container button {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c7ae0;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  height: fit-content;
}

.filter-container button:hover {
  background-color: #5a6cc6;
}


/* Style for the map container */
.map-container {
  width: 45%;
  margin-top: 20px;
}
