<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap">
    <title>{% block title %}Customer Analysis Dashboard{% endblock %}</title>
</head>
<body>
    <nav class="sidebar">

        <div class="header">
            <h1>BankX</h1>
        </div>

        <ul>
            <li><a href="/" class="{% if active_tab == 'dashboard' %}active{% endif %}">Dashboard</a></li>
            <li><a href="/statistics" class="{% if active_tab == 'statistics' %}active{% endif %}">Statistics</a></li>
            <li><a href="/analysis" class="{% if active_tab == 'analysis' %}active{% endif %}">Analysis</a></li>
        </ul>

        <div class="logout">
            Log out
        </div>

    </nav>
    <div class="main-container">
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
