{% extends "base.html" %}

{% block title %}Data Viewer{% endblock %}

{% block content %}
<div class="table-container">
    <h2>Customer Data</h2>
    <table class="customer-table">
        <thead>
            <tr>
                <th> Customer ID</th>
                <th>Credit Score</th>
                <th>Geography</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Tenure</th>
                <th>Balance</th>
                <th>Product count</th>
                <th>Has Credit Card</th>
                <th>Is Active Member</th>
                <th>Estimated Salary</th>
                <th>Exited</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.CustomerId }}</td>
                <td style="color:   {% if 300 <= customer['CreditScore'] <= 579 %} red
                                    {% elif 580 <= customer['CreditScore'] <= 669 %} orange
                                    {% elif 670 <= customer['CreditScore'] <= 799 %} green
                                    {% elif 800 <= customer['CreditScore'] <= 850 %} blue
                                    {% else %} black
                                    {% endif %};"
                >{{ customer['CreditScore'] }}</td>
                <td>{{ customer.Geography }}</td>
                <td>{{ customer.Gender }}</td>
                <td>{{ customer.Age }}</td>
                <td>{{ customer.Tenure }}</td>
                <td>{{ customer.Balance }}</td>
                <td>{{ customer.NumOfProducts }}</td>
                <td>{{ customer.HasCrCard }}</td>
                <td>{{ customer.IsActiveMember }}</td>
                <td>{{ customer.EstimatedSalary }}</td>
                <td>{{ customer.Exited }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
